<form>
<h1><%= @team[:team][:name] %></h1>
<h2>Team Motto: <%= @team[:team][:motto] %></h2>

<h2>Hero Name: <%= @team[:member1_name] %></h2><br>
<p>Hero Power: <%= @team[:member1_power] %></p>
<p>Hero Biography: <%= @team[:member1_bio] %></p>

<h2>Hero Name: <%= @team[:member2_name] %></h2><br>
<p>Hero Power: <%= @team[:member2_power] %></p>
<p>Hero Biography: <%= @team[:member2_bio] %></p>

<h2>Hero Name: <%= @team[:member3_name] %></h2><br>
<p>Hero Power: <%= @team[:member3_power] %></p>
<p>Hero Biography: <%= @team[:member3_bio] %></p>

</form>
